<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me in HTML</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!--Linking CSS to the HTML-->
</head>
<body>
    <h1 class="head-edit">A Short Telling about Me</h1>
    <h2><em>By David Oloye</em></h2>
    <h2>Created on 9/18/2025</h2>
    <h2>-----------------------------------</h2>


    <p>I am <strong>Civil/Environmental Engineering Major</strong> at UMD. My goals beyond college like in driving the green energy initiative
        --born from my interests in the environment, human development, and energy systems. I envision a greener world in the future
        where man and nature are in some form of harmony, and I am trying to do my part in making that a reality. </p>
    <p><em>On a more personal level</em>, I enjoy the comfort of my own room when I can because life gets very busy for me. In other words,
        my free is sacred because this is when I get to read a lot of webtoons and comics and delve into a world of fantasy. Besides that,
        the time I get with my friends is also invaluable to me because the time I spent with them comes with joy and hope for the future.</p>
    <p id="special"> It is important for me to note that my future aspirations are not absolute. I am constantly changing and refining and so are my beliefs and interests.
        who knows where I will be in 10 years. I may have an idea of where I would like to be, but I remain open to the tides of change and possibility  </p>

    <h2>-----------------------------------</h2>
    <p>Here are some courses I hated in no particular order:</p>

    <ul>
        <li>PHYS160</li>
        <li>PHYS260</li>
        <li>MATH141</li>
        <li>ENCE310</li>
    </ul>
    <p>Here some courses I actually enjoyed:</p>

    <ol>
        <li>ENCE215</li>
        <li>HNUH268B</li>
        <li>ENES190H</li>
        <li>ENCE422</li>
    </ol>

    <h2>-----------------------------------</h2>
    <table>
        <!--A table is being created below. -->
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>ENCE102</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>ENCE201</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>CLAS170</td>
            <td>Winter 2025</td>
        </tr>
    </table>

    <h2>-----------------------------------</h2>
    <!--Below is the link to my /hello route and links to my favorite websites-->
    <p>Here is a relative route to my /hello route </p>
    <p> The route can be found<a href="/hello"> here </a>.</p>

    <h2>-----------------------------------</h2>
    <p>My first favorite is Amazon. <a href="https://www.amazon.com/"> I am constantly ordering something</a>.</p>
    <p>My second favorite is Spotify. <a href="https://open.spotify.com/" target="_blank"> I love listening to music</a>.</p>

    <h2>-----------------------------------</h2>
    <!--The QUEST logo below.-->
    <p>Here is the QUEST Logo with the correct size</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png"
         alt= "QUEST LOGO" class="logo">

    <h2>-----------------------------------</h2>
    <p> See comments, but will not be seen</p>

</body>
</html>