{% extends "base.html" %}

{% block title %}Contact Form{% endblock %}

{% block content %}

<h2> Contact Form </h2>
<form class="row g-3" action="{{ url_for('contact') }} " method="post">
    <div class="col-6">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <div class="col-6">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
    <div class="col-8">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="col-6">
        <label for="job_title" class="form-label">Job Title</label>
        <input type="text" class="form-control" id="job_title" name="job_title">
    </div>

    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="agree_check" name="agree-check">
            <label class="form-check-label" for="agree_check">
                I agree to be contacted
            </label>
        </div>
    </div>
    <div class ="col-12">
        <button type="submit" class="btn btn-primary">Submit Form</button>
    </div>
</form>
{% endbock %}
